<h2>About Company</h2>

<script>
    // run the windowLoaded when the page loads
    window.addEventListener("load", windowLoaded);

    function windowLoaded() {
        $("#navbar ul li").removeClass("active");
        $("#about-menu-item").addClass("active");
    }
</script>
