@Scripts.Render("~/Scripts/User/dd_edit-form-handlers.js")

@using DevExMvcApp.Models

@{
    ViewBag.Title = "Index";
}

<br/>
<br />
<div id="dropDownBoxContainer">Current theme:</div>
<br />
<br />
<h2>Home</h2>

@(Html.DevExtreme().DataGrid<Order>()
        .ID("gridContainer")
        .ShowBorders(true)
        .DataSource(d => d.WebApi().Controller("Orders").Key("OrderID"))
        .Columns(columns =>
        {
            columns.AddFor(m => m.OrderID);
            columns.AddFor(m => m.OrderDate);
            columns.AddFor(m => m.CustomerName);
            columns.AddFor(m => m.ShipCountry);
            columns.AddFor(m => m.ShipCity);
        })

        .Paging(p => p.PageSize(3))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(f => f.Visible(true))
        .GroupPanel(p => p.Visible(true))
        .Grouping(g => g.AutoExpandAll(false))
        .RemoteOperations(true)
        .Summary(s => s
            .TotalItems(totalItems =>
            {
                totalItems.AddFor(m => m.ShipCity).SummaryType(SummaryType.Count);
            })
            .GroupItems(groupItems =>
            {
                groupItems.Add().SummaryType(SummaryType.Count);
            })
        )
        .Editing(e =>
        {
            e.AllowAdding(true);
            e.AllowUpdating(true);
            e.AllowDeleting(true);
            e.Mode(GridEditMode.Form);
            e.Form(f =>
            {

                f.OnContentReady("OnFormContentReady");
                f.OnInitialized("OnFormInitialized");
            });
        })

)

<div id="buttonContainer"></div>
<div id="formContainer"></div>

<script>
    // run the windowLoaded when the page loads
    window.addEventListener("load", windowLoaded);

    DevExpress.ui.themes.ready(function () {
        //ko.applyBindings(viewModel);
        console.log("themes is ready");
    });

    function windowLoaded() {
        console.log("window is loaded");

        $("#buttonContainer").dxButton({
            text: "Click me!",
            onClick: function () {
                alert("Hello world!");
            }
        });

        var currentTheme = localStorage.getItem("my_current_theme");
        if (currentTheme != null) {
            DevExpress.ui.themes.current(currentTheme);
        }
            

        var themes = [
            "Generic.Light", "Generic.Dark",
            "Carmine", "Contrast",
            "Darkmoon", "DarkViolet", "GreenMist", "ios7", "Blue.Dark", "Blue.Light", "Lime.Dark", "Lime.Light",
            "Orange.Dark", "Orange.Light", "Purple.Dark", "Purple.Light", "Teal.Dark", "Teal.Light"];
        var theme_icon = "https://js.devexpress.com/ThemeBuilder/Content/Images/themes/generic-dark.svg";

        var themeObj = [
            { text: "Generic Light", value: "generic.light", image: theme_icon },
            { text: "Generic Dark", value: "generic.dark", image: theme_icon },
            { text: "Green Mist", value: "greenmist", image: theme_icon },
            { text: "Carmine", value: "carmine", image: theme_icon },
            { text: "Contrast", value: "contrast", image: theme_icon },
            { text: "Dark Moon", value: "darkmoon", image: theme_icon },
            { text: "Dark Violet", value: "darkviolet", image: theme_icon },
            { text: "iPhone 7", value: "ios7", image: theme_icon },
            { text: "Blue (dark)", value: "blue.dark", image: theme_icon },
            { text: "Blue", value: "blue.light", image: theme_icon },
            { text: "Lime", value: "lime.light", image: theme_icon },
            { text: "Lime (dark)", value: "lime.dark", image: theme_icon },
            { text: "Orange", value: "orange.light", image: theme_icon },
            { text: "Orange (dark)", value: "orange.dark", image: theme_icon },
            { text: "Purple", value: "purple.light", image: theme_icon },
            { text: "Purple (dark)", value: "purple.dark", image: theme_icon },
            //{ text: "Teal", value: "teal.light", image: theme_icon },
            //{ text: "Teal (dark)", value: "teal.dark", image: theme_icon },
        ];


        $("#dropDownBoxContainer").attr("style", "width: 200px; padding-left: 10px").dxDropDownBox({
            
            value: themeObj[0],
            dataSource: new DevExpress.data.DataSource({
                store: new DevExpress.data.ArrayStore({ data: themeObj }),
            }),
            dropDownOptions: {
                title: "Themes",
                showTitle: true,
                fullScreen: false,
                showCloseButton: true
            },
            
            fieldTemplate: function (value, fieldElement) {
                return $("<div />").dxTextBox({ value: value.text, readOnly: true });
                //.$("<img />").attr("src", value.image)
            },
            contentTemplate: function (e) {
                var $list = $("<div>").dxList({
                    dataSource: e.component.option("dataSource"),
                    selectionMode: "single",
                    onSelectionChanged: function (arg) {
                        e.component.option("value", arg.addedItems[0]);
                        e.component.close();

                        var strTheme = arg.addedItems[0].value.toLowerCase();

                        $("#body-container").fadeOut("slow", function() {
                            DevExpress.ui.themes.current(strTheme);
                        }).fadeIn("slow");
                        
                        localStorage.setItem("my_current_theme", strTheme);
                    }
                });
                return $list;
            }
        });


        $("#formContainer").dxForm({
            formData: {
                firstName: "John",
                lastName: "Heart",
                position: "CEO",
                officeNo: 901,
                birthDate: new Date(1964, 3, 15),
                hireDate: new Date(2012, 4, 13),
                city: "Los Angeles",
                phone: "+1(213) 555-9392",
                email: "jheart@dx-email.com"
            }
        });

        
    }
</script>